/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/******************************************
/* LAYOUT
/*******************************************/

/* ======================== Navbar ============================== */
nav {
  width: 100%;
  overflow: auto;
  font-weight: 500;
}

.logo {
  float: left;
  width: 15%;
}

.nav-links {
  float: left;
  width: 70%;
  text-align: center;
  
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.book-btn a {
  float: right;
  width: 15%;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  
}

/* ======================== Hero ============================== */
.hero {
  background: url(../images/hero-image.jpg);
  background-size: cover;
  height: 800px; 

}

.hero-content {
  padding: 150px 0 0 100px;
}

h1 {
  font-size: 12ch;
  margin: 0;
  color: white;
}

p {
  color: white;
  font-size: 1.25rem;
  margin: 20px 0 20px 0;
  padding: 0;
}

.btn {
  padding: 15px 20px;
  background: black;
  color: white;
  font-size: 1em;
  text-decoration: none;
  
}

.discount-box {
  position: absolute;
  bottom: 80px;
  left: 220px;
  right: ;
  background: black;
  color: white;
}

.arrows {
  float: right;
  margin-top: 300px ;
}

/* ======================== Features Section ============================== */
.features {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.feature {
  float: left;
  width: 33.333%;
  padding: 10px;
}

.feature p {
  max-width: 50ch;
  color: black;
}

/* ======================== Promo Section ============================== */
.promo {
  background: #f3f4f6;
  width: 100%;
}

.promo-content {
  padding: 40px;
  width: 100%;
}

h2 {
  font-size: 3rem;
}

.promo-text {
  float: left;
  width: 50%;
  color: black;
  text-align: left ;
  max-width: 60ch;
}

.promo-text p {
  color: black;
  max-width: 45ch;
}

.promo-image {
  float: right;
  width: 50%;
  height: 400px;
  background: url(../images/Home3-Video.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ======================== Experts Section (Practice Flexbox) ============================== */
.experts {
  padding: 100px 0;
}

.experts-row {
  display: flex;
  justify-content: space-between;
}

.expert-card {
  width: 30%;
  position: relative;
}

.expert-card img {
  width: 100%;
  display: block;
}

.expert-info {
  width: 80%;
  background: black;
  color: white;
  text-align: center;
  padding: 10px 3%;

  position: absolute;
  left: 50%;
  bottom: -30px;

  transform: translateX(-50%);
}

/* ======================== Promo Section ============================== */
.offer{
  margin: 100px 0;
  padding: 20;
}

.offer-content {
  background: url(../images/Promo-Banner-Image.jpg);
  background-size: cover;
  height: 550px;
  padding: 90px;
}

.offer-content h3 {
  font-size: 1.75rem;
  color: black;
}

.offer-content span {
  color: black;
  font-size: 3rem;
  font-weight: 700;
}

.offer-content p {
 color: black;
 font-size: 3rem;
}

.offer-btn {
  padding: 1em 2em;
  margin-top: 200px;
  background-color: black;
  color: white;
  text-decoration: none;
}

/* ======================== Lookbook Section ============================== */
.lookbook {
  margin: 100px 0;
}

.heading {
  text-align: center;
  padding: 20px;
  margin: 0;
}

.heading h2 {
   border-bottom: 2px solid black;
   margin: 20px
}

.column {
  float: left;
  width: 33.333%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
