/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: "";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

/* Reusable Page alignment */
.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

h1, h3 {
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
}

/* Centered h2 */
h2 {
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  text-align: center;
  font-size: 4.5rem;
  margin: 0;
}

p, a, span {
  font-family: Arial, Helvetica, sans-serif;
}

/* Centered Span */
.highlight {  
  padding-top: 60px;      
  color: #ff8800;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: block;
}

/******************************************
/* LAYOUT
/*******************************************/

/* ======================== Navbar & Hero ============================== */

nav {
  overflow: auto;
  width: 100%;
}

.logo {
  float: left;
}

.nav-links {
  float: right;
  width: 90%;
  text-align: center;
  margin-top: 5px;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #2A4054;
}

.nav-icons{ 
  float: right;
  width: 10%;
}

.new-hero {
  background-image:url(../images/hero-bg.jpg);
  background-size: cover;
  min-height: 500px; 
  background-repeat: no-repeat;
  padding: 0 0 550px 0;
}

h1 {
  font-size: 5rem;
  text-align: left;
}

form .search {
  float: left;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-right: none; 
  width: 480px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:#ff8800
}

form .btn {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background: #ff8800;
  border-radius: 0 5px 5px 0;
  float: left;
}

form .btn:hover {
  background: orangered;
}

.socials {
  color: #ff8800;
  margin-top: 30px;
  
}

.socials i {
  font-size: 1.1rem;          
  margin-right: 6px;
}

.socials > span {
  color: black;
  font-weight: 500;
  margin-right: 50px;
}

/* ======================== About Us Section ============================== */
.about-us {
    background:
    linear-gradient( to right,
      rgba(255,255,255,0.1) 15%,
      rgba(255,255,255,0.95) 35%,
      rgba(255,255,255,0.95) 65%,
      rgba(255,255,255,0.1) 85% ),
    url(../images/about-us-fused.png);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.about-us-text {
  float: right;
  width: 80%;
  padding: 100px 0;
}

.about-us-text > span {
  color: #ff8800;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-size: 4rem;
}

.about-us .first, 
.about-us .second {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

.about-us .second {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-us .btn {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  background-color: #ff8800;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

.about-us .btn-arrow{
  display: inline-block;
  background-color:#ffaa4d;
  padding: 15px;
}

.about-us .btn-text {
  display: inline-block;
  padding: 15px 20px;
}

/* ======================== Menu Section ============================== */
.menu {
  background-color: #f2f6f7;
}

.menu-categories {
  float: right;
  width: 75%;
  padding: 20px;
  
}

.menu-categories li {
  display: inline-block;
  padding: 10px 30px;
  list-style: none;
  border-bottom: 2px solid #e1e5e6;
}

.menu-categories a {
  text-decoration: none;
  color: #2A4054;
  font-size: 18px;
  font-weight: 500;
}

.menu-gallery img{
  float: left;
  width: 12.5%;
}

.menu-images img {
  display: inline-block;
  width: 250px;
  height: 300px;
  padding: 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
