/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: "";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

/* Reusable Page alignment */
.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

h1, h3 {
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
}

/* Centered h2 */
h2 {
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  text-align: center;
  font-size: 4.5rem;
  margin: 0;
}

p, a, span {
  font-family: Arial, Helvetica, sans-serif;
}

/* Centered Span */
.highlight {  
  padding-top: 60px;      
  color: #ff8800;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: block;
}

/******************************************
/* LAYOUT
/*******************************************/

/* ======================== Navbar & Hero ============================== */

nav {
  overflow: auto;
  width: 100%;
}

.logo {
  float: left;
}

.nav-links {
  float: right;
  width: 90%;
  text-align: center;
  margin-top: 5px;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #2A4054;
}


.new-hero {
  background-image:url(../images/hero-bg.jpg);
  background-size: cover;
  min-height: 500px; 
  background-repeat: no-repeat;
  padding: 0 0 550px 0;
}

h1 {
  font-size: 5rem;
  text-align: left;
}

form .search {
  float: left;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-right: none; 
  width: 480px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:#ff8800
}

form .btn {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  background: #ff8800;
  border-radius: 0 5px 5px 0;
  float: left;
  border: 0;
}

form .btn:hover {
  background: orangered;
}

.socials {
  color: #ff8800;
  margin-top: 30px;
  
}

.socials i {
  font-size: 1.1rem;          
  margin-right: 6px;
}

.socials > span {
  color: black;
  font-weight: 500;
  margin-right: 50px;
}

/* ======================== About Us Section ============================== */
.about-us {
    background:
    linear-gradient( to right,
      rgba(255,255,255,0.1) 15%,
      rgba(255,255,255,0.95) 35%,
      rgba(255,255,255,0.95) 65%,
      rgba(255,255,255,0.1) 85% ),
    url(../images/about-us-fused.png);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.about-us-text {
  float: right;
  width: 80%;
  padding: 100px 0;
}

.about-us-text > span {
  color: #ff8800;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-size: 4rem;
}

.about-us .first, 
.about-us .second {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

.about-us .second {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-us .btn {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  background-color: #ff8800;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

.about-us .btn-arrow{
  display: inline-block;
  background-color:#ffaa4d;
  padding: 15px;
}

.about-us .btn-text {
  display: inline-block;
  padding: 15px 20px;
}

/* ======================== Menu Section ============================== */
.menu {
  background-color: #f2f6f7;
}

.menu-categories {
  text-align: center;
  padding: 20px 0;
}

.menu-categories ul {
  display: inline-block;
  padding: 0;
  border-bottom: 2px solid #e1e5e6;
}

.menu-categories li {
  display: inline-block;
  padding: 10px 30px;
  list-style: none;
}

.menu-categories a {
  text-decoration: none;
  color: #2A4054;
  font-size: 18px;
  font-weight: 500;
}

.menu-grid {
  width: 100%;
}

.menu-card {
    float: left;
    width: 25%;
    padding: 15px;
}

.menu-categories .active a {
  color: #ff8800;
  font-weight: 600;
  position: relative; 
}

.menu-categories .active {
  position: relative;
}

.menu-categories .active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #ff8800;
  transform: translateX(-50%);
}

.menu-card.featured {
  position: relative;
  overflow: hidden;
  
}

.menu-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.menu-card.featured::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.item-info {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

.item-info h3 {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: white;
  margin: 10px 0;
}

.price {
  font-size: 2em;
  font-weight: 700;
}

.rating {
  color: #ff8800;
  font-size: 2rem;
  margin: 10px 0;
}

.star {
  margin-right: 2px;
}

.title {
  font-size: 1.75em;
}

.order-now {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.page-dots {
  text-align: center;
  padding: 20px; 
}

.page-dots button {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffdbb2;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  padding: 0;
}

.page-dots .active {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ff8800;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
